.intro {
    background-color: #005b66;
    width: 100%;
    height: 80vh;
    margin-bottom: 100px;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    height: 100%;
}

.intro-text {
    margin-left: auto;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: flex-start;
}

    .intro-text h2, .aboutme-header h2, .wishlist-header h2, .pokemon-header h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

.intro-text .btn {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    background-color: #047a89;
    border: none;
    color: white;
    padding: 16px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

    .intro-text .btn:hover {
        color: var(--nav-item-hover-color);
    }

.intro-text > .btn::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.intro-text > .btn:hover::after, .intro-text > .btn.active-nav::after {
    width: 100%;
    background: var(--nav-item-hover-color);
}

.parallelogram {
    width: 60%;
    height: 100%;
    background-image: url('/barusu.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

.aboutme, .wishlist, .pokemon {
    margin: 100px auto;
    width 100%;
}

.aboutme .container, .wishlist .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 80%;
}

.aboutme-header,  .wishlist-header, .pokemon-header {
    margin: 100px auto 50px auto;
}

.wishlist-desc {
    margin: auto;
    text-align: center;
    width: 80%;
}

.aboutme-body, .wishlist-body, .pokemon-body {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--main-color);
    height: 80%;
}

.aboutme-card, .wishlist-card {
    background: #ff851b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 300px;
}

    .aboutme-card div, .wishlist-card p {
        padding: 16px;
        height: 100px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wishlist-card p {
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }


.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 80%;
    height: 100%;
}

.pokemon-header h2 {
    margin: auto;
}

.pokemon-card {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pokemon-link, .pokemon-description {
    text-align: center;
    height: 50%;
    color: white;
}

    .pokemon-description p {
        margin: auto;
        width: 200px;
    }

    .pokemon-link a {
        text-decoration: none;
        font-weight: var(--bold-font);
        background-color: #047a89;
        border: none;
        color: white;
        padding: 35px;
        text-align: center;
        display: inline-block;
        font-size: 1.5rem;
        margin: auto;
        cursor: pointer;
        border-radius: 16px;
        width: 250px;
        height: 100px;
    }

        .pokemon-link a:hover {
            color: var(--nav-item-hover-color);
        }

    .pokemon-link > a::after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        top: 5px;
        background: transparent;
        transition: all 0.3s;
    }

    .pokemon-link > a:hover::after, .pokemon-link > a.active-nav::after {
        width: 80%;
        background: var(--nav-item-hover-color);
    }

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20vh;
    box-shadow: 0px -3px 3px 0px #f1f1f1;
}

    .footer p {
        height: 30%;
        display: flex;
        align-items: center;
    }

.footer-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 70%;
    justify-content: center;
}

    .footer-links ul {
        list-style-type: none;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-link{
        text-decoration: none;
        margin: 0 10px;
        color: white;
    }

        .footer-link i {
            margin-right: 5px;
        }



@media only screen and (max-device-width: 1300px) {
    .parallelogram {
        width: 50%;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media only screen and (max-device-width: 950px) {

    .intro-container {
        flex-direction: column;
    }

    .intro-text {
        margin: auto;
    }
        .intro-text h2 {
            font-size: 2.5rem;
        }

        .intro-text .btn, .intro-text p {
            font-size: 14px;
            padding: 14px;
        }

    .parallelogram {
        height: 60%;
        width: 100%;
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    }

    .aboutme, .wishlist {
        margin-top: 100px;
        width: 100%;
    }

    .container {
        max-width: 80% !important;
    }

    .aboutme-header, .wishlist-header, .pokemon-header {
        margin: 25px auto;
        margin-top: 100px;
    }

    .aboutme-card div {
        height: auto;
    }

    .pokemon-card {
        gap: 1rem;
        height: auto;
    }

    .aboutme-body, .wishlist-body, .pokemon-body {
        gap: 1rem;
    }

@media only screen and (max-device-width: 600px) {

    .intro-text h2 {
        font-size: 2rem;
    }

    .intro-text .btn, .intro-text p {
        font-size: 12px;
        padding: 12px;
    }

}

@media only screen and (max-device-width: 400px) {

    .intro-text h2 {
        font-size: 1.5rem;
    }

    .intro-text .btn, .intro-text p {
        font-size: 10px;
        padding: 10px;
    }
}