@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

:root {
    --main-color: #001f3f;
    --nav-item-hover-color: #ff851b;
    --bold-font: 600;
}    
    
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
    scroll-behavior: smooth !important;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--main-color);
}

/* Navigation bar -> HomeNav and Nav */



/* Display of all Events as cards -> [sheetname] */

.event-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 90%;
}

.event-card {
    height: 100px;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 16px;
    text-align: center;
    margin-bottom: 20px;
    background: #ff851b;
    border-radius: 15px;
    position: relative;
}

.card-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: var(--main-color);
}

.card-title::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.event-link:hover ~ .card-title::after, .event-link.active-nav ~ .card-title::after {
    width: 100%;
    background: var(--main-color);
}

.event-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1800px) {
    .event-card {
        width: 20%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .event-card {
        width: 40%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .event-card {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Table -> [event] */

.event-image{
    width: 100%;
}

.event-table-container {
    overflow-x: auto;
}

.event-name {
    text-align: center;
    margin: auto;
}

.event-table {
    background-color: #005b66;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 16px;
    margin: 0 auto;
    width: 90%;
}

.event-table th, td {
    text-align: left;
    padding: 16px;
}

.event-table tr:nth-child(even) {
    background-color: #047a89;
}

.table-nav {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100%;
}

.table-nav span{
    margin: auto;
}

.tableSprite{
    object-fit: contain;
}

@media only screen and (max-device-width: 680px) {

    .table-nav {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 70px;
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding: 10px;
        padding-left: 50%;
        display: flex;
        align-items: center;
    }

    td:empty {
        height: 56px;
    }

    td img{
        right: 20px;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 20px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "Marking";
        }

        td:nth-of-type(2):before {
            content: "Sprite";
        }

        td:nth-of-type(3):before {
            content: "Lang";
        }

        td:nth-of-type(4):before {
            content: "Ball";
        }

        td:nth-of-type(5):before {
            content: "Ability";
        }

        td:nth-of-type(6):before {
            content: "Nature";
        }

        td:nth-of-type(7):before {
            content: "Lvl";
        }

        td:nth-of-type(8):before {
            content: "Gender";
        }

        td:nth-of-type(9):before {
            content: "IVs";
        }

        td:nth-of-type(10):before {
            content: "OT/ID";
        }

        td:nth-of-type(11):before {
            content: "Date";
        }

        td:nth-of-type(12):before {
            content: "Proof";
        }

        td:nth-of-type(13):before {
            content: "Trade History";
        }

        td:nth-of-type(14):before {
            content: "Disclosure";
        }
}

/* Landing Page sections */

.aboutme-header, .aboutme-body, .wishlist-header, .wishlist-body, .pokemon-header {
    margin: 100px auto;
}

.aboutme, .wishlist, .pokemon {
    margin: 100px 0;
    width: 100%;
    height: 90vh;
}

.aboutme .container, .wishlist .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 65%;
    height: 90%;
}

.wishlist-desc {
    margin: auto;
    text-align: center;
}

.aboutme-body, .wishlist-body, .pokemon-body {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--main-color);
    height: 80%;
}

.aboutme-card, .wishlist-card {
    background: #ff851b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 300px;
}

.aboutme-card div, .wishlist-card p{
    padding: 16px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wishlist-card p {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
   .aboutme, .wishlist {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }

   .container{
       max-width: 80% !important;
   }

    .aboutme-header, .wishlist-header, .pokemon-header {
        margin: 25px auto;
        margin-top: 100px;
    }
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 80%;
    height: 100%;
}

.pokemon-header h2{
    margin: auto;
}

.pokemon-card{
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pokemon-link, .pokemon-description {
    text-align: center;
    height: 50%;
    color: white;
}

.pokemon-description p{
    margin: auto;
    width: 200px;
}

.pokemon-link a {
    text-decoration: none;
    font-weight: var(--bold-font);
    background-color: #047a89;
    border: none;
    color: white;
    padding: 35px;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
    width: 250px;
    height: 100px;
}

.pokemon-link a:hover {
    color: var(--nav-item-hover-color);
}

.pokemon-link > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.pokemon-link > a:hover::after, .pokemon-link > a.active-nav::after {
    width: 80%;
    background: var(--nav-item-hover-color);
}

