@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

:root {
    --main-color: #001f3f;
    --nav-item-hover-color: #ff851b;
    --bold-font: 600;
}    
    
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--main-color);
}

nav {
    background-color: var(--main-color) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 100px;
}

.nav-item {
    margin-left: 2rem;
}

nav ul li {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--bold-font);
}

.nav-item a:hover {
    color: var(--nav-item-hover-color);
}

.nav-item > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.nav-item > a:hover::after, .nav-item > a.active-nav::after {
    width: 100%;
    background: var(--nav-item-hover-color);
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 90%;
}

.event-card {
    height: 100px;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 16px;
    text-align: center;
    margin-bottom: 20px;
    background: #ff851b;
    border-radius: 15px;
    position: relative;
    font-size: 1.5rem;
}

.event-card a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: var(--main-color);
}

@media screen and (max-width: 1800px) {
    .event-card {
        width: 20%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .event-card {
        width: 40%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .event-card {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }
}

.event-image{
    width: 100%;
}

.event-table-container {
    overflow-x: auto;
}

.event-name {
    margin: 20px;
    text-align: center;
}

.event-table {
    background-color: #005b66;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 16px;
    margin: 20px auto;
    width: 90%;
}

.event-table th, td {
    text-align: left;
    padding: 16px;
}

.event-table tr:nth-child(even) {
    background-color: #047a89;
}

.intro {
    background-color: #005b66;
    width: 100%;
    height: 750px;
    margin-bottom: 100px;
}

.intro .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 80%;
    height: 100%;
}

.intro-text, .i-frame, .aboutme-header, .aboutme-body, .wishlist-header, .wishlist-body {
    margin: auto;
}

.intro-text h2, .aboutme-header h2, .wishlist-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-text .btn {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    background-color: #047a89;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.intro-text .btn:hover {
    color: var(--nav-item-hover-color);
}

.intro-text > .btn::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.intro-text > .btn:hover::after, .intro-text > .btn.active-nav::after {
    width: 100%;
    background: var(--nav-item-hover-color);
}

.aboutme, .wishlist{
    margin: 100px 0;
    width: 100%;
    height: 400px;
}

.aboutme .container, .wishlist .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin: auto;
    max-width: 80%;
    height: 100%;
}

.aboutme-body, .wishlist-body {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin: auto;
    max-width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--main-color);
}

.aboutme-card, .wishlist-card {
    background: #ff851b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.aboutme-card div, .wishlist-card p{
    padding: 16px;
    height: 100px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wishlist-card p {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

    @media screen and (max-width: 1000px) {
        .aboutme, .wishlist {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
}