
:root {
    --main-color: #001f3f;
}    
    
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
}

body {
    background-color: var(--main-color);
}

nav {
    background-color: var(--main-color) !important;
}


.event-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.event-card {
    height: 100px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 16px;
    text-align: center;
    margin-bottom: 20px;
    background: #ff851b;
    border-radius: 15px;
    position: relative;
}

.event-card a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

@media screen and (max-width: 1800px) {
    .event-card {
        width: 20%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .event-card {
        width: 40%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .event-card {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }
}

.event-image{
    width: 100%;
}

.event-table-container {
    overflow-x: auto;
}

.event-table-container h3 {
    margin: 20px;
    text-align: center;
}

.event-table {
    background-color: #005b66;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.event-table th, td {
    text-align: left;
    padding: 16px;
}

.event-table tr:nth-child(even) {
    background-color: #047a89;
}